/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/
.theme-menu__button:disabled::before {
  animation: arrow-animation 0.5s ease-in-out infinite alternate;
}

.like-icon.is-liked .heart {
  animation: scale-animation 0.3s ease-in 0.1s 1 alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks-animation 0.3s ease-in 0.3s 1 alternate;
}


@keyframes arrow-animation {
  from {
    left: -20px;
  }

  to {
    left: -16px;
  }
}

@keyframes scale-animation {
  from {
    scale: 1;
  }

  to {
    scale: 1.5;
  }
}

@keyframes sparks-animation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
  
  .grayscale {
    filter: grayscale(50%);
  }
  
  .hue-rotate {
    filter: hue-rotate(30deg);
  }
  
  .saturate {
    filter: saturate(360%);
  }
  
  .invert {
    filter: invert(80%);
  }
  
  .sepia {
    filter: sepia(80%);
  }
  
  .blur {
    filter: blur(20px);
  }
  
  .multi-filter {
    filter: saturate(250%) hue-rotate(90deg) grayscale(20%) invert(25%) blur(2px);
  }

  